---

---

<!doctype html>
<html class="no-js">
  <head>
  <title>History of OpenPlans</title>

  <meta charset="utf-8">
  <meta name="description" content="History of OpenPlans">
  <meta name="author" content="OpenPlans">
  <meta name="viewport" content="width=device-width">

  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- Google Web Fonts -->
  <link href='//fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>

  <!-- Octicons -->
  <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">

  <link rel="stylesheet" href="style.css" type="text/css" media="screen, projection" />

  <script src="bower_components/modernizr/modernizr.js"></script>

</head>
<body>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="openplans-top-bar fixed" data-magellan-expedition="" data-options="active_class:current;threshold:0;destination_threshold:-65;throttle_delay:50;fixed_top:0;">
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1 data-magellan-arrival="about"><a href="#about"><img src="images/openplans-logo.png" class="openplans-logo" alt="OpenPlans"></a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Years</span></a></li> -->
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            {% for post in site.posts reversed %}
            {% if post.layout == 'year' %}  
            <li data-magellan-arrival="year-{{ post.year }}"><a href="#year-{{ post.year }}">{{ post.menu-label }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active"><a href="https://github.com/openplans/" target="_blank"><span class="mega-octicon octicon-mark-github"></span></a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  <a id="about" class="section-anchor" data-magellan-destination="about"></a>
  <div class="row extra-padding-top">
    <div class="columns text-large">
      <p>For over ten years, OpenPlans has been an amazing incubator of people, ideas, and projects. Maintaining our deeply-held belief in better cities thanks to technology and participation, we've built impactful, well-crafted software&mdash;with occasional organizational refreshes along the way.</p>
    </div>
  </div>

  {% for post in site.posts %}
   {% include {{post.layout}}.html %}
  {% endfor %}

  <footer class="colophon extra-padding-top extra-padding-bottom">
    <div class="row extra-padding-top extra-padding-bottom extra-margin-top extra-margin-bottom">
      <div class="columns">
        Check out our Github...
        <br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </footer>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/foundation/js/foundation.js"></script>
  <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
  <script src="main.js"></script>
</body>
</html>
