---
---

@import "foundation";


/*--------------------------------------------------
  Typography
--------------------------------------------------*/

.text-small {
  p {
    font-size: rem-calc(13);
  }
}
.text-large {
  p {
    font-size: 1.5rem;
  }
}

.unstyled-link {
  color: inherit !important;
  text-decoration: inherit !important;
}


/*--------------------------------------------------
  Layout
--------------------------------------------------*/

body {
  padding-top: $topbar-height;
}
.year {
  position: relative;
}
.section-anchor {
  position: absolute;
  top: -$topbar-height;
}
.colophon {
  background-color: #666;
  color: #eee;
}


/*--------------------------------------------------
  OpenPlans-Branded Top Bar
--------------------------------------------------*/

.openplans-top-bar {
  // transparent for the logo hole
  &, .contain-to-grid {
    background-color: transparent !important;
  }
  box-shadow: 0 5px 0 rgba(51,51,51,0.2);
  z-index: 99;
  .top-bar {
    background: transparent url('images/orange-ff8b38-2000x65.gif') 0 0 no-repeat scroll;
    box-shadow: 62.5rem 0 #ff8b38, -62.5rem 0 #ff8b38; // extend the orange past the width of .top-bar
  }
  .name {
    margin-right: 1rem;
  }
  .name h1,
  .name h1 a {
    height: 100%;
    padding: 0;
  }
  .top-bar .name .current a {
    background-color: transparent !important;
  }
  .name h1 a:hover img {
    background-color: #cceeff;
    background-color: rgba(204,238,255,0.75);
  }
  .openplans-logo {
    height: 100%;
    width: auto;
    display: block;
  }
  .top-bar.expanded .title-area {
    background-color: transparent;
  }
  .top-bar.expanded {
    height: auto;
  }
  .top-bar.expanded .top-bar-section {
    padding-top: 0;
  }
}

.top-bar .current a {
  background-color: scale-color($orange, $lightness: -14%) !important;
  &:hover {
    background-color: scale-color($orange, $lightness: -21%) !important;
  }
}

.top-bar .mega-octicon {
  position: relative;
  top: 0.25rem;
  text-shadow: 1px 2px rgba(51,51,51,0.2);
}


/*--------------------------------------------------
  Post: Year
--------------------------------------------------*/
.year-heading {
  a {
    font-size: 1.5em;
  }
}


/*--------------------------------------------------
  Post: People
--------------------------------------------------*/

.avatar {
  border-radius: 100%;
}
