<div class="extra-padding-top extra-padding-bottom" style="position:relative;">
  <div class="row">
    <a id="year-{{ post.year }}" class="section-anchor" data-magellan-destination="year-{{ post.year }}"></a>
    <div class="columns large-12 extra-padding-top extra-padding-bottom extra-margin-bottom">
      <h2 class="year-heading text-center"><a href="#year-{{ post.year }}"><span class="year-flourish before">&#10171;<span>&#10170;</span></span>{{ post.year }}<span class="year-flourish after">&#10171;<span>&#10170;</span></span></a></h2>
    </div>
    <div class="columns large-12 tiny-padding-top">
      <h3>{{ post.title }}</h3>
      {{ post.content }}
    </div>
  </div>
</div>
