<article class="extra-padding-top extra-padding-bottom" style="position:relative;">
  <a id="year-{{ post.year }}" class="section-anchor" data-magellan-destination="year-{{ post.year }}"></a>
  <div class="row">
    <div class="columns large-12 extra-padding-top extra-padding-bottom text-center">
      <h2 class="year-heading"><a href="#year-{{ post.year }}"><span class="year-flourish before">&#10171;<span>&#10170;</span></span>{{ post.year }}<span class="year-flourish after">&#10171;<span>&#10170;</span></span></a></h2>
      <h6 class="year-title"><em>{{ post.title }}</em></h6>
    </div>
    <div class="columns large-12 tiny-padding-top">
      {{ post.content }}
    </div>
  </div>
</article>
